extensions.json
*.png
*.tif
.gitkeep
__pycache__
__pycache__/
.gitkeep
*.pkl
*.log
*.err
*.out
*.sh
pytorch/jobs/*
pytorch/slurm/*
pytorch/data/*

tensorflow/data/*
oem.code-workspace
pytorch/wandb/*
pytorch/saved_models/*
